
.radmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.radmenu > a {
  top: calc(200px);
  left: calc(100px);
} 
.radmenu > a.show {
  display: flex !important;
}
.radmenu li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
.radmenu a {
  position: absolute;
  width: 120px;
  height: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  display: none;
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
  font-family: "segoe ui";
  font-weight: 200;
  font-size: 16px;
  font-weight:bold;
  text-shadow: 
	-1px -1px #fff,
	 1px -1px #fff,
	 1px -1px #fff,
	 -1px 1px #fff;
}

.radmenu .show{
	background-image: url('../img/2.png');
}

.radmenu .first{
	background-image: url('../img/3.png');
}

.radmenu .secend{
	background-image: url('../img/4.png');
}

.radmenu .third{
	background-image: url('../img/5.png');
}

.radmenu .fourth{
	background-image: url('../img/6.png');
}

.radmenu .selected {
  background-image: url('../img/7.png');
  display: flex;
  top: calc(200px);
  left: calc(130px);
}

.radmenu .selected + ul > li:nth-child(1) {
  -webkit-transform: rotate(45deg) translateX(50px);
  transform: rotate(45deg) translateX(50px);
  top: calc(132px);
  left: calc(395px);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(1) > a {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(2) {
  -webkit-transform: rotate(135deg) translateX(50px);
  transform: rotate(135deg) translateX(50px);
  top: calc(317px);
  left: calc(615px);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(2) > a {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(3) {
  -webkit-transform: rotate(225deg) translateX(50px);
  transform: rotate(225deg) translateX(50px);
  top: calc(387px);
  left: calc(580px);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(3) > a {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(4) {
  -webkit-transform: rotate(315deg) translateX(50px);
  transform: rotate(315deg) translateX(50px);
  top: calc(203px);
  left: calc(655px);
  position: absolute;
}
.radmenu .selected + ul > li:nth-child(4) > a {
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
  position: absolute;
}

.radmenu .selected + ul > li > a {
  display: flex;
  top: calc(130px - 60px);
  left: calc(10% - 60px);
}

