@charset "utf-8";

body{
	font-size: 62.5%;
	line-height: 1.6;
	background-color: #FFFFFF;
	color: #333333;
}

a.link,a:visited,a:active{
	color: #FA9A4A;
	text-decoration: underline;
}

a:hover{
	color: #FA9A4A;
	text-decoration: none;
}

ul{
	list-style: none;
}

#header{
	background-color: #FFFFFF;
	width:100%;
	font-size: 1.1em;
	border-bottom: 1px solid #F3F2F2;
}

#headertop{
	width: 940px;
	margin:0 auto;
	position: relative;
}

h1{
	padding-top: 25px;
}

h2{
	font-weight: normal;
	font-size: 1em;
	color: #999999;
	margin: 0 0 20px 60px; /*上右下左*/
}

#subnav{
	position: absolute;
	top: 30px;
	right: 10px;
	text-align: right;
}

#subnav li{
	float: left;
	margin: 0 30px 0 00; /*上右下左*/
}

#subnav li a.sitemap{
	display: block;
	background: url(images/sitemap.gif) no-repeat left center;
	padding-left: 20px;
	min-height: 11px;
}

#subnav li a.rss{
	display: block;
	background: url(images/rss.gif) no-repeat left center;
	padding-left: 18px;
	min-height: 11px;
}

#minnav{
	width: 100%;
	min-height: 48px;
	background: url(images/nv_bg.gif) repeat-x;
}

#minnav ul{
	width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

#minnav ul li{
	float: left;
	background: url(images/line.gif) no-repeat left center;
	height: 48px;
}

#minnav ul li a{
	display: inline-block;
	width: 146px;
	height: 48px;
	color: #FFFFFF;
	font-size: 1.4em;
	text-align: center;
	line-height: 48px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 5px;
	transition: 0.25s linear;
}

#minnav ul li a:hover{
	background: #FD946B;
}

#header p img{
	display: block;
	width: 940;
	margin: 0 auto;
}

#contents{
	width: 940px;
	margin: 0 auto;
	font-size: 1.2em;
}

#contents p{
	font-size: 1em;
}

#contents_left{
	width: 690px;
	margin: 0 30px 0 0;/*上右下左*/
	float: left;
}

#sidebar{
	width: 220px;
	float: right;
}

#recommend,#info{
	margin: 30px 0 0 0;/*上右下左*/
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	padding: 0 16px 30px;
	box-shadow: 0 2px 3px #CCCCCC;
}

#welcome{
	margin: 45px 0 0 0;
	border: 5px solid #E6DED6;
	background: #FFFFFF;
	padding: 0 16px 16px;
}

#welcome h3{
	margin: 12px 0 0 0;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 6px;
}

#welcome p img{
	display: block;
	float: right;
	margin: 0 0 0 8px;/*上右下左*/
}

#welcome p{
	margin: 15px 0 0 0;
	font-size: 1.1em;
}

#recommend h3,#info h3{
	margin: 24px 0 0 0;
	border-bottom: 2px solid #DEDEDE;
	padding-bottom: 6px;
}

#recommend .box{
	width: 317px;
	float: left;
}

#recommend .box h4{
	background: url(images/icon_01.gif) no-repeat left center;
	padding-left: 20px;
	margin: 20px 0 8px;/* top left,right, buttm*/
}

#recommend .box img{
	display: block;
	float: left;
	margin-right: 8px;
	border: 1px solid #EEEEEE;
	padding: 2px;
}

.box p.more a{
	display: inline-block;
	width: 76px;
	font-size: 1em;
	text-align: center;
	padding: 4px 12px;
	border: 1px solid #F39A27;
	text-decoration: none;
	color: #FFFFFF;
	background: #FFA443;
	background: linear-gradient(#65310a,#3b1900);
	background: linear-gradient(#3b1900,#65310a);
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(000,000,000,0.2);
	text-shadow: 0 1px 2px rgba(000,000,000,0.2);
}

.box p.more a:hover{
	border: 1px solid #FCB457;
	background: #FFBB76;
	background: linear-gradient(#FFBB76,#FCAC5B);
}

.box p.more{
	text-align:right;
}

#info h4{
	background: url(images/icon_02.gif) no-repeat left center;
	padding-left: 14px;
	margin-top: 13px;
}

#info .date{
	font-size: 0.8em;
	color: #999999;
	padding-left: 14px;
}

#info p{
	margin-top: 5px;
	border-bottom: 1px dotted #CCCCCC;
	padding: 0 0 16px 14px;
}

#access{
	border: 1px solid #A2958C;
	margin-top: 45px;
	font-size: 1.1em;
	width: 218px;
}

#access h3{
	background: rgba(0,0,0,1)!important;
	padding: 12px 0 8px 8px;  /*8 6 2 4*/
}

#access ul{
	padding: 20px 7px 20px 13px;
}

#access li{
	margin-bottom: 8px;
}

#access p{
	text-align: center;
	margin-bottom: 8px;
}

#access p img{
	display: inline-block;
	border: 1px solid #EEEEEE;
	background: #FFFFFF;
	padding: 3px;
}

li.add{
	background: url(images/icon_03.gif)no-repeat 0 2px;
	padding-left: 20px;
}

li.tel{
	background: url(images/icon_04.gif)no-repeat 0 2px;
	padding-left: 20px;
}

li.open{
	background: url(images/icon_05.gif)no-repeat 0 2px;
	padding-left: 20px;
}

#bnr h3{
	margin: 40px 0 10px;
}

#bnr li{
	margin-bottom: 20px;
}

#footer{
	width: 100%;
	background: #9D958B;
	min-height: 130px;
	margin-top: 80px;
	font-size: 1.1em;
	position: relative;
	padding-top: 15px;
}

#footer p #cop{
	display: block;
	width: 940px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;

}

#gotoTop{
	position: absolute;
	top: -140px;
	right: 0;
}